.htable{
    width: 100%;
    font-weight: bold;
}

.htable>tbody>tr>td{
    height: 60px;
    border:none;
    vertical-align: top;
}

.htable>tbody>tr>td:first-of-type{
    width: 42%;
}

.htable>tbody>tr>td:last-of-type{
    width: 58%;
}

input[type="button"]{
    margin-right:3px;
    background-color:#FFFFFF;
    border-radius:5px;
    width:90px;
    height:40px;
    border-style:solid;
    border-color:#000000;
    border-width: 1px;
    outline:none;
}

.text{
    margin-right:5px;
    background-color:#FFFFFF;
    border-radius:5px;
    height: 20px;
    border-style:solid;
    border-color:#000000;
    border-width: 1px;
    outline:none;
}

.errorMessage {
    font-size: 14px;
    color:red;
    height: 15px;
    width: 100%;
    font-weight: normal;
}

