.paging {
	padding-bottom: 15px;
	font-size: 12px;
	margin-left: -41px;
}

.link {
	color: #4472C4;
	display: table;
	float: left;
	line-height: 1;
	margin-right: 5px;
}

.link a {
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.link_left {
	display: table-cell;
	padding-right: 8px;
}

.link_left_disable {
	color: #dadada;
}

.link_right {
	display: table-cell;
	padding-left: 8px;
}

.link_right_disable {
	color: #dadada;
}

.textlink {
	float:left;
	display: table;
	padding-top: -15px;
	color: #4472C4;
}

.textlink li {
	display: table-cell;
	border-right: 1px solid #dfdfdf;
	padding: 0 8px;
	line-height: 1;
	font-size: 18px;
}

.textlink li:last-child {
	border: none;
}

.textlink li a {
	font-size: 18px;
	text-decoration: none;
}

.textlink_disable {
	color: #dadada;
}