html {
  height: 100%;
}

body {
  font-size: 11pt;
  height: 100%;
  margin: 0;
}

/* 全体のレイアウト （divを縦方向に並べる) */
.mainLayout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainHeader {
  display: flex;
  height: 30px;
}

.mainHeaderTitle {
  width: 300px;
  height: 30px;
  font-size: 14pt;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 20px;
}

.mainHeaderUserBtn {
  text-align: right;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 10pt;
  width: 100%;
}


/* タイトルヘッダより下のレイアウト (divを横方向に並べる) */
.subLayout {
  width: 100%;
  height: 100%;
  display: flex;
}

/* アプリケーションタイトルのヘッダ */
.mainHeader {
  color: #FFFFFF;
  width: 100%;
  height: 50px;
  background-color: #009688; /*teal500*/
  font-size: 16pt;
}

/* 予約状況ヘッダ */
.statusHeader {
  width: 100%;
  height: 20px;
  padding: 8px;
  background-color: #FFFFFF;
  display: flex;
}

.statusHeaderLeft {
  font-size: 10pt;
  color: #00695C; /*teal800 */
  width: 120px;
}

.statusHeaderDT {
  font-weight: bold;
}


/* サイドメニューのスタイル */
.sideMenu {
  width: 120px;
  height: 100%;
  margin-right: 10px;

  background-color: #004D40; /*teal900*/
}

/* サイドメニューの項目ごとのスタイル */
.sideMenuItem {
  font-size: 10pt;
  color: #FFFFFF;
  padding: 10px;
}

/* 予約ステータスの表示エリア */
.statusArea {
  width: 100%;
  height: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: space-around;
}

/* 予約ステータスの列ごとのスタイル */
.statusColumn {
  width: 100%;
  margin-right: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #E0E0E0 /*grey300*/
}

/* 予約ステータスの列のタイトル */
.statusColumnHeader {
  font-size: 10pt;
  padding: 5px;
  color: #00695C; /*teal800 */
  background-color: #B2DFDB /*teal100*/
}

/* ユーザごとのステータス表示 */
.userStatus {
  height: 80px;
  padding: 10px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #E0E0E0; /*grey300*/
  display: flex;
  flex-direction: row;
}

/* ユーザステータスの名前表示枠 */
.userStatusLeft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.userStatusRight {
  width: 50px;
}


.userStatusNameArea {
}

.userStatusDealBtn {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */

  font-size: 8pt;
  height: 100%;
  color: #00695C; /*teal800 */
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #E0E0E0; /*grey300*/
  border-width: 60%;
}


/* ユーザステータス表示のふりがな */
.userStatusFurigana {
  font-size: 6pt;
  color: #757575 /*grey600*/
}

/* ユーザステータスの氏名 */
.userStatusName {
  font-size: 14pt;
  font-weight: bold;
  color: #000000;
}

/* 対象ワクチン */
.userStatusVV {
  font-size: 6pt;
  color: #000000;
}
